<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.wuxiao.bussiness.user.dao.SysUserDao">
    <!--    int insertUser(SysUser user);-->

    <insert id="insertUser" parameterType="com.wuxiao.bussiness.user.dao.SysUserDao" useGeneratedKeys="true" keyProperty="userId">

        insert into sys_user  values (#{user.userId}, #{user.userNumber}, #{user.userName},
            #{user.address}, #{user.objectVersionNumber}, #{user.creationDate}, #{user.createdBy},
            #{user.lastUpdateDate}, #{user.lastUpdatedBy}
        );
    </insert>
</mapper>
